
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.logo{
   color: #ff7f50;
   display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.stars {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stars input {
    display: none;
}

.stars label {
    font-size: 24px;
    color: #ddd;
    cursor: pointer;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    color: #ff7f50;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

button {
    background-color: #ff7f50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e6764b;
}